<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#ffebcd">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#4b3d2b">
    <link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/styles.css">
    {# <script src="/js/scripts.js"></script> #}
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>

      {% include "header.njk" %}

      <main>
        {{ content | safe }}
      </main>
      
      {% include "footer.njk" %}


<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</body>
</html>