<header>
    {% if site.logo %}
        <img src="/{{ site.logo }}" alt="Site logo">
    {% endif %}

<nav class="site-nav">
  <ul>
    {% for item in navigationUpdater.items %}
      {% if item.show_in_nav %}
        <li>
          <a href="{{ item.path }}" {% if page.url == item.path %}class="active"{% endif %}>
            {{ item.title }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
</header>