@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Instrument+Serif:ital@0;1&display=swap');

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
}

main {
    flex: 1;
}

h1 {
    font-family: "Instrument Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: clamp(3.5rem, 5vw, 6rem);
    margin: 0;
    letter-spacing: calc(-0.02em - 0.2vw);
}

p {
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    .footer-logo {
        width: 60px;
        height: auto;
    }
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    position: absolute;
    z-index: 1;
    text-align: center;
}

.hero-image {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    border-radius: 12px;
}