@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

@font-face {
    font-family: 'FKRasterRoman';
    src: url('/fonts/FKRasterGroteskCompact-Sharp.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    margin: 20px;
}
@media screen and (max-width: 600px) {
    body {
        margin: 10px;
    }
}

main {
    flex: 1;
}

h1 {
    font-family: "Instrument Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: clamp(4rem, 8vw, 7rem);
    margin: 0;
    letter-spacing: calc(-0.02em - 0.2vw);
}

p, a {
    font-family: 'FKRasterRoman', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: clamp(1rem, 3vw, 1.2rem);
    letter-spacing: calc(0.01em + 0.1vw);
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    width: 100%;

    .header-logo {
        width: 100px;
    }

    nav ul {
        margin: none;
        display: flex;
        gap: 10px;
        list-style-type: none;
    }
    @media screen and (max-width: 600px) {
        nav ul {
            flex-direction: column;
            align-items: flex-end;
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    .footer-logo {
        width: 60px;
    }
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    position: absolute;
    z-index: 1;
    text-align: center;
}

.hero-image {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    border-radius: 12px;
    mix-blend-mode: saturation;
}