---
layout: base.njk
eleventyComputed:
  title: "{{ home.title }}"
title: Home
---

<div class="hero">
  <div class="hero-content">
    {# <h1>{{ home.title }}</h1> #}
    {{ home.body | customMarkdown | safe }}
  </div>
  
  {% if home.hero_image %}
  <img src="{{ home.hero_image }}" alt="Hero image" class="hero-image">
  {% endif %}
</div>
