---
title: Projects
layout: base.njk
---

<h1>Projects</h1>
<p>Here are some of the projects we are currently working on:</p>

{% if home.hero_image %}
<img src="{{ home.hero_image }}" alt="Hero image" class="hero-image">
{% endif %}